* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-align: center;
    margin-top: 1%;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}


.c1 {
    color: #014a36;
}

.c2 {
    color: #3be6c1;
}

.c3 {
    color: #fa9500;
}

.c4 {
    color: #fadb9c;
}

.c5 {
    color: #ffffff;
}

.c6 {
    color: #000000;
}

.c7 {
    color: #ebebeb;
}

.bg1 {
    background-color: #014a36;
}

.bg2 {
    background-color: #3be6c1;
}

.bg3 {
    background-color: #fa9500;
}

.bg4 {
    background-color: #fadb9c;
}

.bg5 {
    background-color: #ffffff;
}

.bg6 {
    background-color: #000000;
}

.bg7 {
    background-color: #ebebeb;
}

header {
    background-color: #014a36;
    color: #fff !important;



    position: fixed !important;
    height: 70px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1030;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}


main {
    margin-top: 70px;
    justify-content: center;
}

section {
    margin-top: 35px !important;
}

.chead {
    width: 100%;
    height: 70px;
}

.ctitle {
    padding-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.ctitle {
    color: #fff;
}

.ctitle:hover {
    color: #fff;
}

.ctitle:active {
    color: #fff;
}

.ctitle:visited {
    color: #fff;
}

.ctitle img {
    width: 45px;
    height: 45px;
}

.ctitle span {
    font-size: 30px;
    padding-left: 20px;
    padding-bottom: 0px;
}

.cnav {
    width: 100%;
    list-style: none;
    justify-content: center;
    padding: 10px 0px;
    display: flex;
}

.cnav li {
    text-align: center;
    margin: 0 15px;
    width: 16%;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)) 1;

}

.cfooter {
    text-align: center;

}

.cfooter a {
    color: #fff !important;
    text-decoration: none;

}

.cfooter div div div {
    padding-top: 10px;
}

.cfootertitle {
    padding-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.cfootertitle {
    color: #fff;
}

.cfootertitle:hover {
    color: #fff;
}

.cfootertitle:active {
    color: #fff;
}

.cfootertitle:visited {
    color: #fff;
}

.cfootertitle img {
    width: 90px;
    height: 90px;
}

.cfootertitle span {
    font-size: 60px;
    padding-left: 20px;
    padding-bottom: 0px;
}

.cnav li:hover {
    animation: border_aniamtion 0.25s forwards;

}

.cnav li[active] {
    animation: border_aniamtion 0.25s forwards;

}

@keyframes border_aniamtion {
    0% {
        border-bottom: 1px solid transparent;
        border-image: linear-gradient(to right,
                rgba(255, 255, 255, 0),
                rgba(255, 255, 255, 0),
                rgba(255, 255, 255, 0),
                rgba(255, 255, 255, 0),
                rgba(255, 255, 255, 0)) 1;
    }

    25% {
        border-bottom: 1px solid transparent;
        border-image: linear-gradient(to right,
                rgba(255, 255, 255, 0),
                rgba(255, 255, 255, 0),
                rgba(255, 255, 255, 1),
                rgba(255, 255, 255, 0),
                rgba(255, 255, 255, 0)) 1;
    }

    50% {
        border-bottom: 1px solid transparent;
        border-image: linear-gradient(to right,
                rgba(255, 255, 255, 0),
                rgba(255, 255, 255, 1),
                rgba(255, 255, 255, 1),
                rgba(255, 255, 255, 1),
                rgba(255, 255, 255, 0)) 1;
    }

    75% {
        border-bottom: 1px solid transparent;
        border-image: linear-gradient(to right,
                rgba(255, 255, 255, 0.5),
                rgba(255, 255, 255, 1),
                rgba(255, 255, 255, 1),
                rgba(255, 255, 255, 1),
                rgba(255, 255, 255, 0.5)) 1;
    }

    100% {
        border-bottom: 1px solid transparent;
        border-image: linear-gradient(to right,
                rgba(255, 255, 255, 1),
                rgba(255, 255, 255, 1),
                rgba(255, 255, 255, 1),
                rgba(255, 255, 255, 1),
                rgba(255, 255, 255, 1)) 1;
    }
}

.carousel {
    width: 100%;
    padding: 0px;

}

.carousel-item {
    height: 500px;
    background-color: #777;
    overflow: hidden;
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.ccardsmain {

    padding: 20px;
    background-color: #ebebeb;
    overflow-x: auto;
    overflow-y: hidden;
}


.ccardstitle {
    text-align: center;
}

.ccards {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.ccard {
    flex-shrink: 0; 
    flex-grow: 0; 
    border: #014a36 5px solid;
    background-color: #fff;
    border-radius: 20px;
    height: 100%;
}

.ccard img {
    border-radius: 15px;
    width: 100%;
}


.ccard h2 {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.ccard p {
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
}


.cmargin {
    margin-top: 20px;
}

.ctextcenter {
    text-align: center;
}

.ctextleft {
    text-align: left;
}

.cservices{
    margin-top: 35px;
    text-align: left;
}

.cmap{
    margin-top: 25px;
}

.ctextspan {
    font-size: 18px;
    color: #3be6c1;
    font-weight: 700;
    font-style: italic;

}

.cicon {
    font-size: 25px;
    margin-right: 20px;
}

.clist {
    display: none;
}

.chamburgermenu {
    position: absolute;
    z-index: 100;
    background-color: #014a36;
    width: 100%;
    height: 100%;
    display: none;
}

.chamburgermenu[active] {
    display: block;
}

.cmenumovil {
    list-style: none;
    color: #fff;
}

.cmenumovil li {
    font-size: 20px;
    margin-top: 20px;
}

.cmenumovil li[active] {
    animation: border_aniamtion 0.25s forwards;

}

.cfootermovil {
    display: none;
}

.cbuttonwhatsapp {
    display: none;
}

.cmidle {
    display: inline;
}

.mainHamburger {
    display: none;

}

.mainMenu {
    display: flex;
}

@media screen and (max-width: 1600px) {
    .cmidle {
        display: none;
    }

    .mainHamburger {
        display: none;
    }

    .mainMenu {
        display: block;
    }

}

@media screen and (max-width: 775px) {

    .mainHamburger {
        display: block;
        width: 100%;
    }

    .mainMenu {
        display: none;
    }

    .cnav {
        display: none;
    }

    .chidemovil {
        display: none;
    }

    .ctitle {
        width: auto;
        justify-content: center;
        align-items: center;
    }

    .clist {
        display: block;
        font-size: 50px;
        margin-right: 10px;

    }

    .cnavmovil {
        display: flex;
        justify-content: space-between;
    }

    .chamburgermenu {
        position: absolute;
        z-index: 100;
        background-color: #014a36;
        width: 100%;
        height: 100%;
    }

    .cfootermovil {

        display: flex;
        justify-content: space-between;
    }

    .cfooterdesktop {
        display: none;
    }

    .ciconfooter {
        font-size: 40px;
    }

    .cbuttonwhatsapp {
        background-color: #014a36;
        color: #ebebeb;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 6;
        bottom: 60px;
        right: 10px;
        width: 70px;
        height: 70px;
        border-radius: 20px;
        border: solid 3px #fff;
    }

    .cbuttonwhatsapp a {
        color: #ebebeb;
    }

    .ciconcwhatsapp {
        font-size: 40px;
    }

}


.texto {
    margin-top: 2rem;
    text-align: left;
    font-size: 1.2rem;
}

.nombre {
    font-size: 1.2rem;
}

.col-md-4 {
    align-content: center;
}

.col-md-2 {
    align-content: center;
}

#caja {
    align-content: center;
}

#boton {
    color: #fff;
    background-color: #014a36;
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 10px 25px;
    font-weight: 800;
    margin-bottom: 2%;
}

#boton:hover {
    color: black;
    background-color: #3be6c1;
}

#letrabtn {
    color: #fff
}

#letrabtn:hover {
    color: black
}

.portada_img {
    border-radius: 15px;
    width: 100%;

}

